.pai9load {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.pai9load:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFF;
    opacity: 0.4;
}
.pai9load:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/themes/game/Public/zhongyi/img/dice/back.png") no-repeat center center;
    background-size: 15vh 15vh;
}
.pai9load .touzi-bg {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/themes/game/Public/zhongyi/img/dice/curve.png") no-repeat center center;
    background-size: 13vh 13vh;
    animation: toubgmove 2s infinite linear;
    opacity: 0.1;
}
@keyframes toubgmove {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.pai9load .touzi {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8vh;
    animation: toumove 2s infinite;
}
@keyframes toumove {
    0%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice1.png");}
    6.66%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice2.png");}
    13.32%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice3.png");}
    19.98%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice4.png");}
    26.64%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice5.png");}
    33.3%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice6.png");}
    39.96%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice7.png");}
    46.62%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice8.png");}
    53.28%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice9.png");}
    59.94%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice10.png");}
    66.6%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice11.png");}
    73.26%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice12.png");}
    79.92%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice13.png");}
    86.58%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice14.png");}
    93.24%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice15.png");}
    100%{background-image: url("/themes/game/Public/zhongyi/img/dice/dice16.png");}
}









