.sangong6-fk{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(255, 255, 255); opacity: 0.2; border-radius: 10px;}
.sangong6-fk1{position: relative; padding: 0px 10px 0px 35px;}
.sangong6-index1{z-index: 14; display: none;}
.sangong6-index2{z-index: 12; display: none;}
.sangong6-index3{z-index: 10; display: none;}
.sangong6-index1s{z-index: 14; display: none;}
.sangong6-index2s{z-index: 12; display: none;}
.sangong6-index3s{z-index: 10; display: none;}
.sangong6-memberScoreText2{position: absolute; line-height: 40px; width: 100%; height: 40px; text-align: center; color: white; font-size: 16pt; font-family: &quot;Helvetica 微软雅黑&quot;; -webkit-text-stroke: 1.3px; text-shadow: rgb(2, 32, 85) 1px 2px 2px; display: none;}
.sangong6-memberScoreText1{position: absolute; line-height: 40px; width: 100%; height: 40px; text-align: center; color: rgb(234, 171, 55); font-size: 16pt; font-family: &quot;Helvetica 微软雅黑&quot;; -webkit-text-stroke: 1.3px; text-shadow: rgb(120, 42, 0) 1px 2px 2px; display: none;}0
.sangong6-banker0{position: absolute; top: 10%; left: 10%; width: 80%; height: 81%; display: none;}
.sangong6-background{position: absolute; top: 3%; left: 3%; width: 18px; height: 18px; display: none;}
.sangong6sangong6-bankerAnimate1{position: absolute; top: 10%; left: 10%; width: 80%; height: 80%; display: none;}